src/MongoDB_Sample/obj/Debug/MongoDB_Sample.csprojResolveAssemblyReference.cache
src/packages/Nancy.1.0.0/Nancy.1.0.0.nupkg
src/MongoDB_Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MongoDB_Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/packages/Nancy.1.0.0/lib/net40/Nancy.dll
src/packages/Nancy.1.0.0/lib/net40/Nancy.xml
src/packages/Nancy.Hosting.Aspnet.1.0.0/Nancy.Hosting.Aspnet.1.0.0.nupkg
src/packages/Nancy.Hosting.Aspnet.1.0.0/content/web.config.transform
src/packages/Nancy.Hosting.Aspnet.1.0.0/lib/net40/Nancy.Hosting.Aspnet.dll
src/packages/Nancy.Hosting.Aspnet.1.0.0/lib/net40/Nancy.Hosting.Aspnet.xml
src/packages/mongocsharpdriver.1.9.2/License.rtf
src/packages/mongocsharpdriver.1.9.2/lib/net35/MongoDB.Bson.XML
src/packages/mongocsharpdriver.1.9.2/lib/net35/MongoDB.Bson.dll
src/packages/mongocsharpdriver.1.9.2/lib/net35/MongoDB.Driver.XML
src/packages/mongocsharpdriver.1.9.2/lib/net35/MongoDB.Driver.dll
src/MongoDB_Sample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MongoDB_Sample/obj/Debug/MongoDB_Sample.csproj.FileListAbsolute.txt
src/MongoDB_Sample/obj/Debug/MongoDB_Sample.dll
src/MongoDB_Sample/obj/Debug/MongoDB_Sample.pdb
src/MongoDB_Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MongoDB_Sample/bin/MongoDB.Bson.xml
src/MongoDB_Sample/bin/MongoDB.Driver.dll
src/MongoDB_Sample/bin/MongoDB.Driver.xml
src/MongoDB_Sample/bin/MongoDB_Sample.dll
src/MongoDB_Sample/bin/MongoDB_Sample.dll.config
src/MongoDB_Sample/bin/MongoDB_Sample.pdb
src/MongoDB_Sample/bin/Nancy.Hosting.Aspnet.dll
src/MongoDB_Sample/bin/Nancy.Hosting.Aspnet.xml
src/MongoDB_Sample/bin/Nancy.dll
src/MongoDB_Sample/bin/Nancy.xml
src/packages/mongocsharpdriver.1.9.2/mongocsharpdriver.1.9.2.nupkg
src/packages/repositories.config
src/MongoDB_Sample/bin/MongoDB.Bson.dll
src/packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
src/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.dll
src/packages/Newtonsoft.Json.6.0.8/tools/install.ps1
src/MongoDB_Sample/bin/Newtonsoft.Json.dll
src/MongoDB_Sample/bin/Newtonsoft.Json.xml
